/* ==UserStyle==
@name         IMMIS
@namespace    github.com/openstyles/stylus
@version      1.0.48
@var color link-color "Link Color" red
==/UserStyle== */
@-moz-document url-prefix("https://ireps.gov.in/fcgi/")
{
	* {
		box-sizing: border-box !important;
	}

	html,
	body {
		position: relative !important;
		margin: 0 !important;
	}

	body > * {
		left: 0;
	}

	.Option1,
	.Option2,
	.Menu1 {
		height: 25px;
		display: flex;
		align-items: center;
	}

	.Option1 .link,
	.Option2 .link {
		display: flex;
		align-items: center;
		padding: 5px;
	}
    
    .Option1,
    .Option2{
        border-bottom: 1px solid #69b8e7;
    }

	#MenuBar {
        width: 100% !important;
	}
    
    #MenuBar tr{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    #MenuBar > table > tbody > tr:nth-of-type(1) > td{
        flex-grow: 1;
        border: 1px solid #646060;
        text-align: center;
        min-width: fit-content;
        height: 25px;
        background-color: #c0c0c0;
        line-height: 0%;
    }
    
    #MenuBar > table > tbody > tr:nth-of-type(1) > td a{
        display: block;
        padding: 5px;
        line-height: 100%;
    }
    
    #MenuBar > table > tbody > tr > td:nth-of-type(1){
        display: none;
    }

	.Options,
	#sub16,
	#sub17,
	#sub40 {
		display: block !important;
	}
    
    #BodyDiv{
        top: 52px !important;
    }

	#DashBoardTd > #DashBoardDiv div {
		margin: 0 !important;
	}

	#TitleBar,
	#StatusBar {
		position: relative !important;
		width: 100% !important;
		left: 0 !important;
	}

	#TitleBar {
		top: 0 !important;
	}

	#CanvassHolder {
		position: relative !important;
		left: 0 !important;
		top: 0 !important;
	}
    
    .button{
        border-width: 2px 2px 2px !important;
        border-radius: 5px !important;
        height: 25px !important;
        padding: 5px !important;
        opacity: 1 !important;
    }

	#s_2,
	#s_3,
	#s_4,
	#s_6,
	#s_7,
	#s_8,
	#s_9,
	#s_10,
	#s_13,
	#s_16 {
		width: 100% !important;
		margin: 0 !important;
		height: auto !important;
		top: 0 !important;
		left: 0 !important;
	}

	td > div {
		height: unset !important;
		width: 100% !important;
	}

	#s_2 > table {
		width: 100%;
	}

	#s_2 > table td > div > table {
		width: calc(100% - 15px) !important;
	}

	#s_3 > table {
		width: 100%;
	}

	#s_3 > table td > div > table {
		width: calc(100% - 15px) !important;
	}

	#s_3 > table td > div > table tr td:last-child {
		min-width: 80px;
	}

	#s_5 {
		width: 100% !important;
		margin: 0 !important;
		height: auto !important;
		left: 0 !important;
	}

	#s_9 > div {
		width: 100% !important;
		height: auto !important;
	}

	#s_18 {
		height: 0 !important;
		width: 0 !important;
	}

	#s_21 {
		width: 800px !important;
		left: calc(50% - 400px) !important;
	}

	div[id^="s__cnvs"] {
		width: 800px !important;
		left: calc(50% - 400px) !important;
	}

	#BusyDiv {
		width: 400px !important;
		left: calc(50% - 200px) !important;
	}

	#_LovTable {
		height: auto !important;
	}
    
    #_LovTable td{
		height: 20px;
        vertical-align: middle;
	}
    
    #_LovTable td a{
        text-decoration: none;
	}
    
    #_LovTable td a:hover{
        text-decoration: underline;
        font-weight: bold;
    }

	.depot_transfer #s_2,
	.depot_transfer #s_3 {
		position: relative !important;
	}

	.depot_transfer #s_4 {
		position: relative !important;
		width: 502px !important;
	}

	.depot_transfer #s_6 {
		width: calc(100% - 500px) !important;
		left: auto !important;
		top: 13px !important;
		right: 0 !important;
		display: flex !important;
		flex-direction: column;
	}

	.availability #s_2 {
		width: 70% !important;
	}

	.availability #s_3 {
		position: absolute !important;
		width: 30% !important;
		right: 0 !important;
		left: auto !important;
		top: 0 !important;
	}

	#LoginDiv {
		width: 600px !important;
		left: calc(50% - 300px) !important;
		padding: 20px !important;
		top: 100px !important;
	}

	#PasswdDiv {
		width: 600px !important;
		left: calc(50% - 300px) !important;
		padding: 20px !important;
		top: 170px !important;
	}

	#divShowHtml1,
	#divShowHtml2 {
		width: 100% !important;
		height: auto !important;
		left: 0 !important;
	}

	#divShowHtml1 > div,
	#divShowHtml2 > div {
		height: auto !important;
	}

	#DivAlertBox {
		width: 400px !important;
		left: calc(50% - 200px) !important;
		padding: 10px !important;
		top: 150px !important;
	}

	.gem_po_mapping #s_9 {
		top: 40px !important;
	}

	.gem_po_mapping #s_9 table,
	.gem_po_mapping #s_9 table td div {
		width: 100% !important;
		height: 100% !important;
		margin: 0 !important;
	}

	.po_modification #s_4 {
		position: absolute !important;
	}

	.po_modification #s_4 > table {
		display: flex;
		flex-direction: column;
	}

	.po_modification #s_4 td > div {
		width: 960px !important;
		left: calc(50% - 480px) !important;
	}

    .po_modification #s_6 h3{
        text-align: center;
        margin: 5px;
        color: red;
    }
    
    .po_modification #s_6 h3:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    

	.po_modification #s_6 table td > div {
		width: 1200px !important;
		margin-left: calc(50% - 600px) !important;
		height: auto !important;
	}

	.po_modification #s_6 table {
		width: 100%;
	}
	.po_modification #s_6 div > table {
		width: 100%;
	}

	.po_modification #s_6 > table:nth-of-type(1) {
		width: unset !important;
	}

	.po_modification #s_6 > table > tbody > tr {
		display: flex;
		justify-content: center;
		margin: 5px;
	}

	.po_modification #s_6 > table:nth-of-type(2) {
		width: unset !important;
		min-height: 300px;
	}

	.po_modification #s_6 div > table td {
		padding: 5px;
		min-height: 40px;
        font-size: 12px;
	}
    
    .po_modification #s_6 .dealer_wise_ma{
        display: none;
        border-collapse: collapse;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 800px;
        margin-left: calc(50% - 400px);
    }
    
    .po_modification #s_6 .dealer_wise_ma.visible{
        display: table;
    }
    
	.po_modification #s_6 .dealer_wise_ma td,
    .po_modification #s_6 .dealer_wise_ma th{
        border: 1px solid black;
        height: 35px;
        width: 10%;
        text-align: center;
    }

    .po_modification #s_18{
        display: none;
    }

	.po_modification #s_8,
	.po_generation #s_13,
	.po_generation #s_15,
	.tender_publishing #s_17,
	.tender_publishing #s_18,
	.tender_publishing #s_23 {
		width: 800px !important;
		left: calc(50% - 400px) !important;
		padding: 20px !important;
		top: 100px !important;
		height: auto !important;
		margin: 0 !important;
	}

	.po_generation #s_10 table td > div,
	.po_generation #s_8 table td > div {
		width: 1024px !important;
		margin-left: calc(50% - 512px) !important;
		height: auto !important;
	}

	.po_generation #s_6 {
		top: 45px !important;
	}

	/* .po_generation #s_8 {
		top: 45px !important;
		right: 0 !important;
		left: auto !important;
		max-width: 600px !important;
	} */

	.po_generation #s_18 {
		width: 800px !important;
		top: 33px !important;
		left: calc(50% - 400px) !important;
		padding: 20px !important;
		height: auto !important;
		margin: 0 !important;
	}

	.po_generation #s_18 td > div {
		width: 100% !important;
		height: unset !important;
	}

    .tender_publishing #s_6 > table > tbody > tr:nth-of-type(4) > td:last-child #LBL_TQ_GST_CODE{
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }

	.tender_publishing #s_13 > table {
		max-width: 1024px;
	}

	.tender_publishing #s_17 div {
		height: auto !important;
	}

	.tender_publishing #s_18 {
		top: 120px !important;
		min-height: 140px !important;
	}
    
    .tender_publishing #s_25 {
        width: 1024px !important;
        margin: 0 !important;
        height: auto !important;
        top: 100px !important;
        left: calc(50% - 512px) !important;
	}
    
    .tender_publishing #s_25 > table{
        width: 100%;
    }
    
    .tender_publishing #s_25 .enter_standard_details{
        width: 140px;
    }

	.review_process_demand #s_5 {
		position: absolute !important;
		width: 800px !important;
		left: calc(50% - 400px) !important;
		padding: 20px !important;
	}

	.purchase_proposal #s_16 > table {
		max-width: 1024px;
	}

	.purchase_proposal #divShowHtml2 {
		width: 800px !important;
		left: calc(50% - 400px) !important;
		padding: 20px !important;
		top: 100px !important;
		height: auto !important;
		margin: 0 !important;
	}

	.demand_generation #s_4 {
		position: absolute !important;
	}

	.demand_generation #s_4 > table {
		display: flex;
		flex-direction: column;
		width: 1024px !important;
		left: calc(50% - 512px) !important;
	}

	.demand_generation #s_4 > table > tbody > tr > td > div {
		width: 1024px !important;
	}
    
    .demand_generation #s_2 table.mceLayout,
    .demand_generation #s_2 table.mceLayout iframe{
        height: 30px !important;
    }
    
    .demand_generation #s_2 #s_0_37_D1_ifr{
        height: 30px !important;
    }

	.isl #s_2,
	.isl #s_4 {
		position: relative !important;
	}

	.isl #s_4 > table {
		width: 1024px !important;
		left: calc(50% - 512px) !important;
	}

	.rnote #s_6 > table,
	.rnote #s_7 > table {
		width: 1024px !important;
		left: calc(50% - 512px) !important;
	}

	.rnote #s_6 > table:nth-of-type(1) td {
		display: flex;
		justify-content: center;
	}

	.rnote #s_6 > table td,
	.rnote #s_6 > table td > div {
		margin: 0 !important;
		padding: 0 !important;
	}

	.rnote #s_6 > table td > div > table {
		width: 100% !important;
	}

	.rnote #s_7 table td > div,
	.rnote #s_7 table td > div > table {
		margin: 0 !important;
		padding: 0 !important;
	}

	.rnote #s_7 table td > div > table tr td:nth-of-type(5),
	.rnote #s_7 table td > div > table tr td:nth-of-type(6) {
		min-width: 321px;
		padding-bottom: 10px;
	}

	.rnote #s_7 table td > div > table tr td:nth-of-type(8) {
		min-width: 60px;
	}

	.drop_drr #s_2,
	.drop_drr #s_4 {
		width: 780px !important;
		position: relative !important;
	}

	.drop_drr #s_5,
	.drop_drr #s_6 {
		position: absolute !important;
		right: 0 !important;
		left: unset !important;
		top: 0px !important;
		width: calc(100% - 780px) !important;
	}

	.drop_drr #s_6 {
		top: 33px !important;
	}

	.drop_drr #s_6 td > div {
		width: 100% !important;
		margin: auto !important;
	}
    
    .nit_search #s_2 #s_0_16,
    .nit_search #s_2 #s_0_17{
        width: 80px;
    }

	.nit_search #s_3 {
		position: absolute !important;
		right: 0 !important;
		left: calc(50% - 400px) !important;
		width: 800px !important;
	}

	.nit_search #s_3 > * {
		width: 100% !important;
		margin: 0 !important;
		padding: 10px !important;
	}

	.nit_search #s_3 #s_0_33 {
		display: none !important;
	}
    
    .nit_search #s_3 div{
        text-align: left;
    }

	.ns_demand_status #s_3 {
		position: absolute !important;
	}

	.stock_verification #s_2,
	.stock_verification #s_3,
	.stock_verification #s_4 {
		position: absolute !important;
	}

	.stock_verification #s_4 {
		top: 50px !important;
	}

	.stock_verification #s_3 {
		top: 93px !important;
	}

	.stock_verification #s_3 > div {
		width: 100% !important;
	}

	.stock_verification #s_4 > table {
		width: 100% !important;
	}

	.book_transfer #CanvassHolder {
		display: flex !important;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
	}

	.book_transfer #s_2,
	.book_transfer #s_3,
	.book_transfer #s_4,
	.book_transfer #s_5,
	.book_transfer #s_7 {
		position: relative !important;
		top: unset !important;
	}

	.book_transfer #s_3 {
		flex-shrink: 1;
	}

	.book_transfer #s_4,
	.book_transfer #s_5 {
		flex-basis: 50%;
	}

	.book_transfer #s_0_15 {
		display: none !important;
	}

	.ais #s_3 {
		position: absolute !important;
		top: unset !important;
	}

	.ais #divShowHtml1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.ais #divShowHtml1 div {
		max-width: 1024px;
	}

	.ais #divShowHtml1 * {
		font-size: 100% !important;
	}

	.stockmaster_ard #s_2,
	.stockmaster_ard #s_3 {
		position: relative !important;
	}

	.gen_req_for_consumed #s_2,
	.gen_req_for_consumed #s_4 {
		position: relative !important;
	}

	.new_vendor_request #s_2,
	.new_vendor_request #s_3,
	.new_vendor_request #s_4 {
		position: relative !important;
	}

	.stocking_proposal #divShowHtml1 > div > table {
		width: 100%;
	}

	.stocking_proposal #s_6 {
		position: relative !important;
	}

	.po_cancellation #s_4 {
		position: absolute !important;
	}

	.po_cancellation #s_4 > table {
		width: 1024px !important;
		left: calc(50% - 512px) !important;
	}

	.vendor_performance p {
		text-indent: 0 !important;
	}
    
    .vendor_performance #s_3 td > div{
        margin: 0 !important;
    }

    .vendor_performance #s_2 > table:nth-of-type(2){
        width: auto !important;
        margin-right: auto;
        border-collapse: collapse;
        border: 1px solid black;
        text-align: center;
        margin-top: 20px;
    }
    
    .vendor_performance #s_2 > table:nth-of-type(2) td{
        padding: 0px 30px;
    }

	.drr_registration #s_2,
	.drr_registration #s_3,
	.drr_registration #s_4,
	.drr_registration #s_13 {
		position: relative !important;
	}

	.drr_registration #s_12 {
		width: 100% !important;
		height: auto !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	.drr_registration #s_3 > table,
	.drr_registration #s_4 > table,
	.drr_registration #s_13 > table {
		width: 1200px;
	}

	.inventory_assistant #s_4 {
		position: relative !important;
	}

	.inventory_assistant #s_3 > div,
	.inventory_assistant #s_4 > div {
		width: 100% !important;
	}

	.gen_gate_pass #s_2,
	.gen_gate_pass #s_3,
	.gen_gate_pass #s_4 {
		position: relative !important;
	}

	.gen_gate_pass #s_3,
	.gen_gate_pass #s_4 {
		width: 50% !important;
		border: 1px solid black !important;
		display: inline-block !important;
		vertical-align: top !important;
	}

	.gen_gate_pass #s_5 {
		width: 800px !important;
		left: calc(50% - 400px) !important;
		border: 1px solid black !important;
		padding: 20px !important;
	}

	.gen_gate_pass #divShowHtml1 {
		width: 1024px !important;
		left: calc(50% - 512px) !important;
	}

	.gen_gate_pass #divShowHtml1 > div {
		width: 100% !important;
	}
    
	.egate_entry #s_2,
	.egate_entry #s_3,
	.egate_entry #s_4 {
		position: relative !important;
	}
    
    .egate_entry #s_2 td:nth-of-type(1) input{
        max-width: 80px;
    }
    
    .egate_entry #s_2 td:nth-of-type(2) input{
        max-width: 100px;
    }

	.sale_issue_note #CanvassHolder {
		display: flex !important;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
	}

	.sale_issue_note #s_2,
	.sale_issue_note #s_3,
	.sale_issue_note #s_4 {
		position: relative !important;
		top: unset !important;
	}

	.sale_issue_note #s_3,
	.sale_issue_note #s_4 {
		flex-basis: 50%;
	}
    
    .reqn_issue #divShowHtml2 > div{
        width: 100% !important;
    }

    .reqn_issue #divShowHtml2 > div:nth-of-type(2) table{
        max-width: 100% !important;
        font-size: 12px !important;
    }
    
    .reqn_issue #divShowHtml2 > div:nth-of-type(2) table font{
        font-size: 12px !important;
    }
    
    .reqn_issue #divShowHtml2 > div:nth-of-type(2) table b,
    .reqn_issue #divShowHtml2 > div:nth-of-type(2) table b font{
        font-size: 16px !important;
    }

    .stockmaster #s_0_30,
    .stockmaster #s_0_33{
        height: 400px;
    }
    
    .list_position > table > tbody > tr > td > table > tbody > tr > th:nth-of-type(1),
    .list_position > table > tbody > tr > td > table > tbody > tr > td:nth-of-type(1),
    .list_position > table > tbody > tr > td > table > tbody > tr > th:nth-of-type(2),
    .list_position > table > tbody > tr > td > table > tbody > tr > td:nth-of-type(2),
    .list_position > table > tbody > tr > td > table > tbody > tr > th:nth-of-type(3),
    .list_position > table > tbody > tr > td > table > tbody > tr > td:nth-of-type(3),
    .list_position > table > tbody > tr > td > table > tbody > tr > th:nth-of-type(4),
    .list_position > table > tbody > tr > td > table > tbody > tr > td:nth-of-type(4),
    .list_position > table > tbody > tr > td > table > tbody > tr > th:nth-of-type(5),
    .list_position > table > tbody > tr > td > table > tbody > tr > td:nth-of-type(5),
    .list_position > table > tbody > tr > td > table > tbody > tr > th:nth-of-type(6),
    .list_position > table > tbody > tr > td > table > tbody > tr > td:nth-of-type(6),
    .list_position > table > tbody > tr > td > table > tbody > tr > th:nth-of-type(7),
    .list_position > table > tbody > tr > td > table > tbody > tr > td:nth-of-type(7){
        width: 100px;
        text-align: center;
    }
    
    .list_position > table > tbody > tr > td > table > tbody > tr > th:nth-of-type(1),
    .list_position > table > tbody > tr > td > table > tbody > tr > td:nth-of-type(1){
        text-align: left;
    }
    
    .list_position > table > tbody > tr > td > table > tbody > tr > th:nth-of-type(8),
    .list_position > table > tbody > tr > td > table > tbody > tr > td:nth-of-type(8),
    .list_position > table > tbody > tr > td > table > tbody > tr > th:nth-of-type(9),
    .list_position > table > tbody > tr > td > table > tbody > tr > td:nth-of-type(9){
        width: 150px;
    }
    
    .quantity_review #divShowHtml1{
        background-color: white !important;
        border-color: black !important;
    }
    
    .qty_review_div{
        max-width: 960px;
    }
    
    .qty_review_div table,
    .qty_review_div tr,
    .qty_review_div td,
    .data_review table,
    .data_review tr,
    .data_review td{
        border-collapse: collapse;
        padding: 0;
        box-sizing: border-box;
    }
    
    .qty_review_div td,
    .data_review td{
        padding: 2px;
    }
    
    .qty_review_div > table{
        width: 100%;
        margin-top: 20px;
    }
    
    .qty_review_div table td,
    .data_review table td{
        border: 1px solid black;
    }
    
    .qty_review_div table > tbody > tr > td:nth-child(1){
        width: 120px;
        min-width: 120px;
    }
    
    .qty_review_div table:nth-child(1) td{
        font-weight: bold;
        text-align: center;
    }
    
    .qty_review_div table:nth-child(2) td:nth-child(n+2){
        width: calc((960px - 120px)/7)
    }
    
    .qty_review_div table:nth-child(3) tr:nth-child(1),
    .qty_review_div table:nth-child(3) tr:nth-child(2){
        font-weight: bold;
    }
    
    .qty_review_div table:nth-child(3) td:nth-child(n+2){
        text-align: center;    
        width: calc((960px - 120px)/7)
    }
    
    .qty_review_div table:nth-child(4) tbody > tr:nth-child(1),
    .qty_review_div table:nth-child(4) tbody > tr:nth-child(2),
    .qty_review_div table:nth-child(5) tbody > tr:nth-child(1),
    .qty_review_div table:nth-child(5) tbody > tr:nth-child(2){
        font-weight: bold;
    }
    
    .qty_review_div table:nth-child(4) td:nth-child(2),
    .qty_review_div table:nth-child(5) td:nth-child(2){
        padding: 0;
    }
    
    .qty_review_div table:nth-child(4) td:nth-child(2) tr,
    .qty_review_div table:nth-child(5) td:nth-child(2) tr{
        display: flex;
    }
    
    .qty_review_div table:nth-child(4) td:nth-child(2) td:nth-child(1){
        width: 80%;
    }
    
    .qty_review_div table:nth-child(4) td:nth-child(2) td:nth-child(2){
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .qty_review_div table:nth-child(4) td:nth-child(3){
        text-align: center; 
        width: 80px;
    }
    
    .qty_review_div table:nth-child(5) td:nth-child(2) td:nth-child(1){
        width: 150px;
        display: flex;
        align-items: center;
    }
    
    .qty_review_div table:nth-child(5) td:nth-child(2) td:nth-child(2){
        width: 100px;
        display: flex;
        align-items: center;
    }
    
    .qty_review_div table:nth-child(5) td:nth-child(2) td:nth-child(3){
        width: calc(100% - 350px);
        display: flex;
        align-items: center;
    }
    
    .qty_review_div table:nth-child(5) td:nth-child(2) td:nth-child(4){
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .qty_review_div table:nth-child(5) tbody > tr > td:nth-child(3){
        text-align: center;  
        width: 80px;
    }

    
    .qty_review_div table:nth-child(6) tr:nth-child(1){
        font-weight: bold;
    }
    
    .qty_review_div table:nth-child(6) td:nth-child(n+3){
        text-align: center;    
    }
    
    .qty_review_div table:nth-child(7) tr:nth-child(1),
    .qty_review_div table:nth-child(7) tr:nth-child(2),
    .qty_review_div table:nth-child(7) tr:last-child{
        font-weight: bold;
    }
    
    .qty_review_div table:nth-child(7) td:last-child{
        font-weight: bold;
    }
    
    .qty_review_div table:nth-child(7) td:nth-child(n+2){
        text-align: center;
        width: calc((100% - 100px)/9);
    }
    
    .quantity_review .data_review > table{
        width: 800px;
        margin-top: 20px;
    }
    
    .quantity_review .data_review > table tr:nth-of-type(1) td:nth-of-type(1){
        text-align: center;
    }
    
    .quantity_review .data_review > table tr:nth-of-type(n+2) td:nth-of-type(1){
        width: 180px;
    }
    
    .quantity_review .data_review > table tr:nth-of-type(n+2) td:nth-of-type(2),
    .quantity_review .data_review > table tr:nth-of-type(n+2) td:nth-of-type(3),
    .quantity_review .data_review > table tr:nth-of-type(n+2) td:nth-of-type(4),
    .quantity_review .data_review > table tr:nth-of-type(n+2) td:nth-of-type(6){
        width: 100px;
    }
    
    .quantity_review .data_review > table input,
    .quantity_review .data_review > table select{
        width: 95px;
        height: 25px;
    }
    
    .quantity_review .data_review > table select.considered{
        background-color: darkgray;
        font-weight: bold;
    }
    
    .quantity_review .data_review > table select.considered option{
        font-weight: normal;
    }
    
    .quantity_review .data_review > button{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80px;
        height: 34px;
        margin-left: calc((50% - 40px)/2);
    }
    
    @media print{
        
        .quantity_review #CanvassHolder,
        .quantity_review #TitleBar,
        .quantity_review #divShowHtml1 > div:nth-child(1){
            display: none !important;
        }
        
    }
    
    .item_position #s_2 #s_0_13{
        width: 500px;
    }
    
    .item_position #divShowHtml1 > div:nth-of-type(2) > table:nth-of-type(1) tr:nth-of-type(4)[bgcolor="#E8F1D4"] td{
        font-size: 14px;   
    }
    
    .item_position #divShowHtml1 #section_udm table:nth-child(n + 2) {
		display: none;
	}
    
    .item_position #divShowHtml1 #section_udm table img{
        display: none;
    }
    
    .item_position #divShowHtml1 #section_udm table strong{
        font-weight: bold;
    }
    
    .item_position #divShowHtml2{
        width: 960px !important;
        margin-left: calc(50% - 480px);
        top: 200px !important;
        box-shadow: 0px 0px 125px #000;
        padding: 10px !important;
        border-radius: 5px;
    }
    
    .consignee_aac #s_2,
    .consignee_aac #s_3,
    .consignee_aac #s_4{
        position: relative !important;
    }

    .consignee_aac #s_4 > table{
        width: 100% !important;
    }
    
    .depot_consignee_mapping #s_3,
    .depot_consignee_mapping #s_4{
        position: relative !important;
        width: 50% !important;
        display: inline-block !important;
        vertical-align: top !important;
        top: 52px !important;
    }
    
    .tpi_status #s_2{
        position: fixed !important;
        z-index: 99 !important;
        top: 45px !important;
    }
    
    .tpi_status #s_2 > table:nth-of-type(2){
        margin-top: 10px;
        font-size: 9pt;
        border-collapse: collapse;
    }
    
    .tpi_status #s_2 > table:nth-of-type(2) td{
        border: 1px solid black;
    }
    
    .tpi_status #s_3{
        padding: 0 !important;
        position: absolute !important;
        z-index: 90 !important;
        top: 37px !important;
    }
    
    .tpi_status #s_3 td > div{
        margin: 0 !important;
        margin-top: 8px !important;
    }
    
    .tpi_status #s_3 td > div > table{
        width: 100% !important;
    }
    
    .tpi_status #s_2 table:nth-of-type(2) tr td:nth-of-type(3),
    .tpi_status #s_3 td > div > table tr td:nth-of-type(3),
    .tpi_status #s_2 table:nth-of-type(2) tr td:nth-of-type(9),
    .tpi_status #s_3 td > div > table tr td:nth-of-type(9),
    .tpi_status #s_2 table:nth-of-type(2) tr td:nth-of-type(19),
    .tpi_status #s_3 td > div > table tr td:nth-of-type(19),
    .tpi_status #s_2 table:nth-of-type(2) tr td:nth-of-type(20),
    .tpi_status #s_3 td > div > table tr td:nth-of-type(20),
    .tpi_status #s_2 table:nth-of-type(2) tr td:nth-of-type(21),
    .tpi_status #s_3 td > div > table tr td:nth-of-type(21),
    .tpi_status #s_2 table:nth-of-type(2) tr td:nth-of-type(22),
    .tpi_status #s_3 td > div > table tr td:nth-of-type(22){
        display: none;
    }
    
    .tpi_status #s_3 td > div > table .get_po_url{
        font-size: 10px;
        text-decoration: underline;
        margin-top: 5px;
        cursor: pointer;
    }
    
    .tpi_status #s_3 td > div > table tr:nth-of-type(n+1) td:nth-of-type(5){
        max-width: 155px;
    }
    
    .tpi_status #s_3 td > div > table tr:nth-of-type(n+1) td:nth-of-type(6){
        max-width: 200px;
    }
    
    .tpi_status #s_3 td > div > table tr:nth-of-type(n+1) td:nth-of-type(10){
        width: 300px;
        max-width: 300px;
    }
    
    .tpi_status #s_3 td > div > table tr:nth-of-type(n+1) td:nth-of-type(10) span{
        color: blue;
    }
    
    .tpi_status #s_3 td > div > table tr:nth-of-type(n+1) td:nth-of-type(13){
        color: green;
        font-weight: bold;
    }
    
    .tpi_status #s_3 td > div > table tr:nth-of-type(n+1) td:nth-of-type(15){
        color: red;
        font-weight: bold;
    }

    .tpi_status #s_3 td > div > table tr:nth-of-type(n+1) td:nth-of-type(17){
        width: 66px;
    }

    .tpi_status #s_3 td > div > table tr:nth-of-type(n+1) td:nth-of-type(18){
        min-width: 66px;
    }
    
    .spare_stock_entry #s_4 > table{
        width: 100%;
    }
    
    .spare_stock_entry #s_3 #tab_plstklist tr:nth-of-type(n+2) td:nth-of-type(10){
        text-align: left;
    }
    
    .drr_status div:has(> div#DrrStatId){
        width: 960px !important;
        margin-left: calc(50% - 480px) !important;
    }
}
