/* ==UserStyle==
@name         IMMIS
@namespace    github.com/openstyles/stylus
@version      1.0.12
@var color link-color "Link Color" red
==/UserStyle== */
@-moz-document url-prefix("https://ireps.gov.in/fcgi/")
{
	* {
		box-sizing: border-box !important;
	}

	html,
	body {
		position: relative !important;
		margin: 0 !important;
	}

	body > * {
		left: 0;
	}

	.Option1,
	.Option2,
	.Menu1 {
		height: 25px;
		display: flex;
		align-items: center;
	}

	.Option1 .link,
	.Option2 .link {
		display: flex;
		align-items: center;
		padding: 5px;
	}

	#MenuBar {
		height: 25px;
	}

	.Options,
	#sub16,
	#sub17,
	#sub40 {
		display: block !important;
	}

	#TitleBar,
	#StatusBar {
		position: relative !important;
		width: 100% !important;
		left: 0 !important;
	}

	#TitleBar {
		top: 0 !important;
	}

	#CanvassHolder {
		position: relative !important;
		left: 0 !important;
		top: 0 !important;
	}

	#s_2,
	#s_3,
	#s_4,
	#s_6,
	#s_7,
	#s_8,
	#s_9,
	#s_10,
	#s_13,
	#s_16 {
		width: 100% !important;
		margin: 0 !important;
		height: auto !important;
		top: 0 !important;
		left: 0 !important;
	}

	td > div {
		height: unset !important;
		width: 100% !important;
	}

	#s_2 > table {
		width: 100%;
	}

	#s_2 > table td > div > table {
		width: calc(100% - 15px) !important;
	}

	#s_3 > table {
		width: 100%;
	}

	#s_3 > table td > div > table {
		width: calc(100% - 15px) !important;
	}

	#s_3 > table td > div > table tr td:last-child {
		min-width: 80px;
	}

	#s_5 {
		width: 100% !important;
		margin: 0 !important;
		height: auto !important;
		left: 0 !important;
	}

	#s_9 > div {
		width: 100% !important;
		height: auto !important;
	}

	#s_18 {
		height: 0 !important;
		width: 0 !important;
	}

	#s_21 {
		width: 800px !important;
		left: calc(50% - 400px) !important;
	}

	div[id^="s__cnvs"] {
		width: 800px !important;
		left: calc(50% - 400px) !important;
	}

	#BusyDiv {
		width: 400px !important;
		left: calc(50% - 200px) !important;
	}

	#_LovTable {
		height: auto !important;
	}

	.depot_transfer #s_2,
	.depot_transfer #s_3 {
		position: relative !important;
	}

	.depot_transfer #s_4 {
		position: relative !important;
		width: 502px !important;
	}

	.depot_transfer #s_6 {
		width: calc(100% - 500px) !important;
		left: auto !important;
		right: 0 !important;
		display: flex !important;
		flex-direction: column;
	}

	.availability #s_2 {
		width: 70% !important;
	}

	.availability #s_3 {
		position: absolute !important;
		width: 30% !important;
		right: 0 !important;
		left: auto !important;
		top: 0 !important;
	}

	#LoginDiv {
		width: 600px !important;
		left: calc(50% - 300px) !important;
		padding: 20px !important;
		top: 100px !important;
	}

	#PasswdDiv {
		width: 600px !important;
		left: calc(50% - 300px) !important;
		padding: 20px !important;
		top: 170px !important;
	}

	#divShowHtml1,
	#divShowHtml2 {
		width: 100% !important;
		height: auto !important;
		left: 0 !important;
	}

	#divShowHtml1 > div,
	#divShowHtml2 > div {
		height: auto !important;
	}

	#DivAlertBox {
		width: 400px !important;
		left: calc(50% - 200px) !important;
		padding: 10px !important;
		top: 150px !important;
	}

	#section_udm table:nth-child(n + 2) {
		display: none;
	}

	.gem_po_mapping #s_9 {
		top: 40px !important;
	}

	.gem_po_mapping #s_9 table,
	.gem_po_mapping #s_9 table td div {
		width: 100% !important;
		height: 100% !important;
		margin: 0 !important;
	}

	.po_modification #s_4 {
		position: absolute !important;
	}

	.po_modification #s_4 > table {
		display: flex;
		flex-direction: column;
	}

	.po_modification #s_4 td > div {
		width: 960px !important;
		left: calc(50% - 480px) !important;
	}

	.po_modification #s_6 table td > div {
		width: 1024px !important;
		margin-left: calc(50% - 512px) !important;
		height: auto !important;
	}

	.po_modification #s_6 table {
		width: 100%;
	}
	.po_modification #s_6 div > table {
		width: 100%;
	}

	.po_modification #s_6 > table:nth-of-type(1) {
		width: unset !important;
	}

	.po_modification #s_6 > table > tbody > tr {
		display: flex;
		justify-content: center;
		margin: 5px;
	}

	.po_modification #s_6 > table:nth-of-type(2) {
		width: unset !important;
		min-height: 300px;
	}

	.po_modification #s_6 table th:nth-of-type(7) {
		width: 300px !important;
	}

	.po_modification #s_6 div > table td {
		padding: 5px;
		min-height: 40px;
	}

	.po_modification #s_8,
	.po_generation #s_13,
	.po_generation #s_15,
	.tender_publishing #s_15,
	.tender_publishing #s_16 {
		width: 800px !important;
		left: calc(50% - 400px) !important;
		padding: 20px !important;
		top: 100px !important;
		height: auto !important;
		margin: 0 !important;
	}

	.po_generation #s_10 table td > div,
	.po_generation #s_8 table td > div {
		width: 1024px !important;
		margin-left: calc(50% - 512px) !important;
		height: auto !important;
	}

	.po_generation #s_18 {
		width: 800px !important;
		top: 33px !important;
		left: calc(50% - 400px) !important;
		padding: 20px !important;
		height: auto !important;
		margin: 0 !important;
	}

	.po_generation #s_18 td > div {
		width: 100% !important;
		height: unset !important;
	}

	.tender_publishing #s_13 > table {
		max-width: 1024px;
	}

	.tender_publishing #s_15 div {
		height: auto !important;
	}

	.tender_publishing #s_16 {
		top: 130px !important;
	}

	.review_process_demand #s_5 {
		position: absolute !important;
		width: 800px !important;
		left: calc(50% - 400px) !important;
		padding: 20px !important;
	}

	.purchase_proposal #s_16 > table {
		max-width: 1024px;
	}

	.purchase_proposal #divShowHtml2 {
		width: 800px !important;
		left: calc(50% - 400px) !important;
		padding: 20px !important;
		top: 100px !important;
		height: auto !important;
		margin: 0 !important;
	}

	.demand_generation #s_4 {
		position: absolute !important;
	}

	.demand_generation #s_4 > table {
		display: flex;
		flex-direction: column;
		width: 1024px !important;
		left: calc(50% - 512px) !important;
	}

	.demand_generation #s_4 > table > tbody > tr > td > div {
		width: 1024px !important;
	}

	.isl #s_2,
	.isl #s_4 {
		position: relative !important;
	}

	.isl #s_4 > table {
		width: 1024px !important;
		left: calc(50% - 512px) !important;
	}

	.rnote #s_6 > table,
	.rnote #s_7 > table {
		width: 1024px !important;
		left: calc(50% - 512px) !important;
	}

	.rnote #s_6 > table:nth-of-type(1) td {
		display: flex;
		justify-content: center;
	}

	.rnote #s_6 > table td,
	.rnote #s_6 > table td > div {
		margin: 0 !important;
		padding: 0 !important;
	}
	.rnote #s_6 > table td > div > table {
		width: 100% !important;
	}

	.rnote #s_7 table td > div,
	.rnote #s_7 table td > div > table {
		margin: 0 !important;
		padding: 0 !important;
	}

	.rnote #s_7 table td > div > table tr td:nth-of-type(5),
	.rnote #s_7 table td > div > table tr td:nth-of-type(6) {
		min-width: 321px;
		padding-bottom: 10px;
	}

	.rnote #s_7 table td > div > table tr td:nth-of-type(8) {
		min-width: 60px;
	}

	.drop_drr #s_2,
	.drop_drr #s_4 {
		width: 800px !important;
		position: relative !important;
	}

	.drop_drr #s_5 {
		position: absolute !important;
		right: 0 !important;
		left: unset !important;
		top: 0px !important;
		width: calc(100% - 800px) !important;
	}

	.drop_drr #s_6 {
		position: absolute !important;
		right: 0 !important;
		left: unset !important;
		top: 33px !important;
		width: calc(100% - 800px) !important;
	}

	.drop_drr #s_6 td > div {
		width: 100% !important;
		margin: auto !important;
	}

	.nit_search #s_3 {
		position: absolute !important;
		right: 0 !important;
		left: calc(50% - 400px) !important;
		width: 800px !important;
	}

	.nit_search #s_3 > * {
		width: 100% !important;
		margin: 0 !important;
		padding: 10px !important;
	}

	.nit_search #s_3 #s_0_33 {
		display: none !important;
	}

	.ns_demand_status #s_3 {
		position: absolute !important;
	}

	.stock_verification #s_2,
	.stock_verification #s_4 {
		position: relative !important;
	}

	.book_transfer #CanvassHolder {
		display: flex !important;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
	}

	.book_transfer #s_2,
	.book_transfer #s_3,
	.book_transfer #s_4,
	.book_transfer #s_5 {
		position: relative !important;
		top: unset !important;
	}

	.book_transfer #s_3 {
		flex-shrink: 1;
	}

	.book_transfer #s_4,
	.book_transfer #s_5 {
		flex-basis: 50%;
	}

	.book_transfer #s_0_15 {
		display: none !important;
	}

	.ais #s_3 {
		position: absolute !important;
		top: unset !important;
	}

	.stockmaster_ard #s_2,
	.stockmaster_ard #s_3 {
		position: relative !important;
	}

	.gen_req_for_consumed #s_2,
	.gen_req_for_consumed #s_4 {
		position: relative !important;
	}

	.new_vendor_request #s_2,
	.new_vendor_request #s_3,
	.new_vendor_request #s_4 {
		position: relative !important;
	}

	.stocking_proposal #divShowHtml1 > div > table {
		width: 100%;
	}

	.stocking_proposal #s_6 {
		position: relative !important;
	}

	.po_cancellation #s_4 {
		position: absolute !important;
	}

	.po_cancellation #s_4 > table {
		width: 1024px !important;
		left: calc(50% - 512px) !important;
	}
}
