/* ==UserStyle==
@name         GeM
@namespace    github.com/openstyles/stylus
@version      1.0.1
@var color link-color "Link Color" red
==/UserStyle== */
@-moz-document domain("gem.gov.in") {
	.buyer-flags-notification {
		overflow-wrap: break-word;
	}

	.flox-chat-img {
		display: none !important;
	}

	#flox-chat-iframe-wrapper-outer {
		display: none !important;
	}

	.p-checkouts-address_new #simple_purchase_delivery_instructions {
		height: 250px !important;
		max-width: 700px !important;
		line-height: 30px !important;
	}
}
